@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--second-color);
}

:root {
  --main-background: black;
  --second-color: white;
  --game-win-color: rgb(19, 149, 19);
  --font-1: "Poppins", sans-serif;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}



.hidden {
  display: none;
}

.b{
outline: 3px solid var(--second-color);
}
body {
  background-color: var(--main-background);
}

.second-main{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

td{
  text-align: center;
  height: 10vw;
  width:10vw;
  font-size: 5vw;
  font-weight: 600;
  font-family: var(--font-1);
}


.score{
  display: flex;
  justify-content: center;
  align-items: center;
}


.score{
font-size: 2.5vw;
font-family: var(--font-1);
display: flex;
justify-content: center;
justify-items: center;

}

.score div{
  padding: .5vw;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.new-game {
  background: var(--game-win-color);
  color: var(--second-color);
  margin: 0;
  border: 0;
  padding: 15px;
  font-size: 1rem;
  border-radius: 2px;
  font-weight: 500;
}

@media  screen and (max-width:500px) {
  td{
    height: 35vw;
    min-width: 30vw;
    font-size: 15vw;
  }
  .score{
    font-size: 7vw;
    margin-top: 5vw;
  }
  
}
@media screen and (max-width:950px ) {

  td{
    height: 30vw;
    min-width: 30vw;
    font-size: 15vw;
  }
  .score{
    font-size: 7vw;
    margin-top: 5vw;
  }
  
  #text{
    font-size:8vw ;
  }
  .new-game{
    font-size: 4vw;
  }
  
}
